html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.font {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.dark {
    background-color: black;
    color: white;
}

.body {
    max-width: 1000px;
    margin: auto;
    font-size: 18px;
    padding: 20px;
}

.border {
    border: 2px solid;
    width: fit-content;
    padding: 10px;
    border-radius: 20%;
    background-color: #9a001d;
    color: white;
    text-shadow: 4px 0px 4px rgb(15, 15, 13);
    outline: 5px solid black;
    outline-offset: 10px;
    margin: auto;
    margin-top: 30px;
}